# Ignore SDK and vendor code
/FtcRobotController/FtcLib/
# Or any other SDK folder inside FtcRobotController

# Ignore build outputs
/build/
/**/build/
.gradle/

# IDE/OS files
/.idea/
*.iml
local.properties
.DS_Store
Thumbs.db

# Keystores/binaries
*.keystore
*.apk
*.jar

# Temp/logs
*.log
*.tmp
